// ==========================================================================
// Colors
// ==========================================================================

$plyr-color-main: var(--accent) !default;
$plyr-color-gunmetal: var(--accent) !default;
$plyr-color-fiord: var(--accent) !default;
$plyr-color-lynch: #6b7d85 !default;
$plyr-color-heather: #b7c5cd !default;
