// ==========================================================================
// Controls
// ==========================================================================

$plyr-control-icon-size: 10rem !default;
$plyr-control-spacing: 10rem !default;
$plyr-control-padding: 0rem !default;
$plyr-control-radius: 0px !default;

$plyr-video-controls-bg: transparent !default;
$plyr-video-control-color: #fff !default;
$plyr-video-control-color-hover: #fff !default;
$plyr-video-control-bg-hover: transparent !default;

$plyr-audio-controls-bg: #fff !default;
$plyr-audio-control-color: $plyr-color-fiord !default;
$plyr-audio-control-color-hover: #fff !default;
$plyr-audio-control-bg-hover: $plyr-color-main !default;
