// ==========================================================================
// Menus
// ==========================================================================

$plyr-menu-bg: transparent !default;
$plyr-menu-color: $plyr-color-fiord !default;
$plyr-menu-arrow-size: 0px !default;
$plyr-menu-border-color: $plyr-color-heather !default;
$plyr-menu-border-shadow-color: #fff !default;
$plyr-menu-shadow: 0 !default;
