// ==========================================================================
// Progress
// ==========================================================================

// Loading
$plyr-progress-loading-size: 25px !default;
$plyr-progress-loading-bg: $plyr-color-fiord !default;

// Buffered
$plyr-video-progress-buffered-bg: $plyr-color-fiord !default;
$plyr-audio-progress-buffered-bg: $plyr-color-fiord !default;
